.App {
  text-align: center;
}
#site-image {
  width: 50%;
  filter: url("#red-sunset") brightness(0.9) sepia(0.36);
}

body {
  background-color: black;
}
/* div.container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
} */

/*transition list */
.list-item-appear {
  opacity: 0.01;
}

.list-item-appear.list-item-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.list-item-enter {
  opacity: 0.01;
  transform: translate(0, 1em);
}

.list-item-enter.list-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out, transform 500ms ease-out;
  transform: translate(0, 0);
}

.list-item-leave {
  opacity: 1;
}

.list-item-leave.list-item-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in, transform 300ms ease-in;
  transform: translate(-5em, 0) scale(0, 0);
}

/*transition list end*/

#t-head-icon {
  float: right;
}

#completed-text {
  color: white !important;
  text-align: center;
}

.completed {
  text-decoration: line-through;
}

span.red {
  border-radius: 25px;
}

.highlight {
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.highlight:hover {
  background-color: rgb(252, 193, 193);
}
.tt-helper {
  right: -348px;
  bottom: -327px;
  position: fixed;
}

.tt-content-helper {
  width: 456px;
  height: 400px;
  inset: 0px;
  padding: 56px;
  vertical-align: bottom;
}

.tt-wave-helper {
  top: 344px;
  left: 344px;
  width: 112px;
  height: 112px;
}

#zaxximo-logo {
  font-family: "Antonio", sans serif;
  margin-left: 3%;
  font-size: 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
